body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../assets/images/space.png);
  background-size: auto,2400px;
  background-repeat: repeat-x;
  background-position: center fixed;
  background-attachment: fixed;
  color: aliceblue;
  text-shadow: 1px 1px black;
}

#calculator {
  padding-bottom: 1%;
  margin: 3%;
  width: 470px;
  float: left;
  border: 0.8rem silver;
  border-style: inset groove groove inset;
  outline: silver outset 0.5rem;
  background-image: radial-gradient(ellipse at center, transparent 92%, rgba(108, 108, 108, 0.99) 94%),
    radial-gradient(circle at top, rgba(255, 255, 255, 0) 78%, rgb(108, 108, 108) 79%), 
    url(../assets/images/metallic.png), 
    radial-gradient(circle at top, rgba(245, 245, 245, 0.99), rgba(180, 180, 180, 0.99) 78%, rgba(141, 141, 141, 0.99), rgb(108, 108, 108) 79%);
}

.input-box {
  margin-top: 7px;
  margin-bottom: 10px;
}

h1 {
  padding-top: 12px;
  padding-bottom: 15px;
}

input {
  float: right;
}

.col-md-3 {
  text-align: center;
  min-width: 100px;
  max-width:35%;
  min-height: 300px;
}

.col-md-3 h3 {
  color: azure;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}


